::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 15px;
  height: 10px;
}
