<br><br><br>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="30%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Download Files</mat-card-title>
        <mat-card-title>&nbsp;</mat-card-title>
        <mat-card-subtitle *ngFor="let fileName of fileNames">
          <mat-icon>insert_drive_file</mat-icon>
          <a (click)="downloadFile(fileName)">{{fileName}}
            <mat-icon>cloud_download</mat-icon>
          </a>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>

